@model sdp2.Models.Reply

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reply</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                
                <input type="hidden" asp-for="FeedbackEmail" value="@ViewBag.Email" class="form-control" />
                <h1>Taking reply for @ViewBag.Email's Feedback</h1>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="FeedbackId" value="@ViewBag.Id" />
            </div>
            <div class="form-group">
                <label asp-for="reply" class="control-label"></label>
                <textarea asp-for="reply" class="form-control" rows="20" cols="10"></textarea>
                <span asp-validation-for="reply" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Reply" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
